* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #191816;
  color: #AFB6C2;
  box-sizing: border-box;

}


.img-logo {
  width: 100%;
  padding: 40px 0px 0px 40px;
}


.text {
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  color: #AFB6C2;
}

.container-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;

}

#img-main .img-main {
  width: 100%;
  min-height: 512px;
  max-height: 750px;
}

form {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 512px;
  background-color: #24221F;
}

.inner-form {
  width: 70%;
}

.title-login {
  margin-bottom: 27px;
}

.login-svg {
  position: relative;
  top: 5px;
}

.email-svg-default {
  position: relative;
  padding: 8px;
  bottom: 40px;
}

.password-svg-default {
  position: relative;
  bottom: 40px;
  padding: 8px;
}

.visible-svg-default {
  position: relative;
  left: 80%;
  bottom: 48px;
}

.email-container,
.password-container {
  margin-bottom: -20px;
}

#email,
#password {
  font-family: 'Roboto', sans-serif;
  font-size: normal;
  color: #AFB6C2;
  width: 90%;
  height: 44px;
  padding-left: 35px;
}

.remember {
  display: flex;
  justify-content: space-between;
}


.remember-me {
  color: #AFB6C2;
  font-size: 1em;
  padding-left: 10px;
}



.buttom-container {
  text-align: center;
  margin: 20px 0px 14px;
}

div h2 {
  font-family: 'Poppins', sans-serif;
  color: #D4CCB6;
}

span {
  font-family: 'Poppins', sans-serif;
  color: #FFC632;
  font-size: 0.9em;

}

label {
  font-family: 'Poppins', sans-serif;
  font-size: medium;

}

input {
  border: solid 1px #868686;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  background-color: #24221F;
  border-radius: 5px;
}


input[type=checkbox] {
  accent-color: #FFC632;
}

a.link-anchor {
  color: #FFC632;
  font-weight: 700;
}

a.link-anchor:hover {
  text-decoration: underline;
  color: #e9b42f;
}

.email-container:focus-within .email-svg-default {
  content: url(../img/mail-focus.svg);
}

#email:focus-within {
  outline: none;
  border: 1px solid #FFC632;
  transition: .3s;
  box-shadow: 0 0 3px #e9b42f ;
}

#password:focus-within {
  outline: none;
  border: 1px solid #FFC632;
    box-shadow: 0 0 3px #e9b42f ;

  transition: .3s;

}

.password-container:focus-within .password-svg-default {
  content: url(../img/lock-focus.svg);
}



button {
  border: #191816;
  font-size: 1.1em;
  color: #473404;
  font-weight: 600;
  background-color: #FFC632;
  height: 44px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color:  #c49725 ;
}

.register {
  display: block;
  text-align: center;
}



/* @Media Query */

@media (max-width:1000px) {

  #img-main {
    display: none;
  }

.visible-svg-default {
  left: 80%;
}

  form {

    width: 70%;
  }




}

@media (max-width: 520px) {
  
  form {
    display: block;
    width: 100%;
    background: #191816;
  }

  .title-login {
    margin-top: 30px;
  }
  .inner-form {
    width: 90%;
    margin: auto;   /* or 83% to responsive */

  }

  input{
    background-color: #191816;
  }

  


  .remember-me {
    padding-left: 10px;
  }


  .register {
    display: block;
    text-align: center;
  }

  

}